


<div class="container">
    <div class="jumbotron">
      <h1>Automobiles</h1>
    </div>
    <form [formGroup]="automobilesListForm">
      <div class="row" *ngIf="isAutomobilesExists else error">
        <div class="col-sm-12">

          <div fxLayout="row">
            <div *ngFor="let i of filteredBrands">
              <!-- <input type="checkbox" class="form-check-input" id="" [value]="i" (click)="onSelect($event)">
                  <label class="form-check-label checkbox-inline" for="">{{i}}</label>          -->
              <label class="checkbox-inline">
                <input type="checkbox" [value]="i" (click)="onSelect($event)">{{i}}
              </label>
              <!-- <label class="checkbox-inline" for="">
                    <input type="checkbox" id="" [value]="i" (click)="onSelect($event)">
                      {{i}}</label>   -->
            </div>
          </div>
          <br>
          <br>
          <div class="row border">
            <div class="col-sm-3">
              <div *ngIf="isPorscheChecked">
                <div *ngFor="let i of porsche">
                  <input type="checkbox" class="type" checkbox="" [value]="i.series" (click)="onSelect($event)"> {{i.series}}
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div *ngIf="isAudiChecked">
                <div *ngFor="let i of audi">
                  <input type="checkbox" class="type" checkbox="" [value]="i.series" (click)="onSelect($event)"> {{i.series}}
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div *ngIf="isChevyChecked">
                <div *ngFor="let i of chevy">
                  <input type="checkbox" class="type" checkbox="" [value]="i.series" (click)="onSelect($event)"> {{i.series}}
                </div>
              </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
          </div>
  
  
        </div>
      </div>
      <ng-template>
        <div class="row" #error>
          <div class="col-sm-12">
            <h1>Sorry No automobiles found!!</h1>
          </div>
        </div>
      </ng-template>
  
    </form>
  
    <div class="row border">
      <div class="col-sm-4">
        <div *ngIf="isPanameraChecked">
          <!-- {{panamera | json}} -->
          CarId:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].carId"></div>
          Brand :<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].brand"></div>
          Model:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].model"></div>
          Series:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].series"></div>
          Type:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].type"></div>
          Year:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].year"></div>
          Price:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].price"></div>
          Engine:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].engine"></div>
          HorsePower:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].horsepower"></div>
          CurbWeight:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].curbweight"></div>
          MPG:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="panamera[0].mpg"></div>
        </div>
        <br><br>
        <div *ngIf="isCayanneChecked">
          <!-- {{cayanne | json}} -->
          CarId:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].carId"></div>
          Brand :<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].brand"></div>
          Model:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].model"></div>
          Series:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].series"></div>
          Type:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].type"></div>
          Year:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].year"></div>
          Price:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].price"></div>
          Engine:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].engine"></div>
          HorsePower:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].horsepower"></div>
          CurbWeight:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].curbweight"></div>
          MPG:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="cayanne[0].mpg"></div>

        </div>
      </div>
      <div class="col-sm-4">
       
        <div *ngIf="isA5Checked">
          <!-- {{a5 | json}} -->
          CarId:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].carId"></div>
          Brand :<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].brand"></div>
          Model:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].model"></div>
          Series:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].series"></div>
          Type:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].type"></div>
          Year:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].year"></div>
          Price:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].price"></div>
          Engine:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].engine"></div>
          HorsePower:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].horsepower"></div>
          CurbWeight:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].curbweight"></div>
          MPG:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="a5[0].mpg"></div>
          
        </div>
        <br><br>
        <div *ngIf="isR8Checked">
          <!-- {{r8 | json}} -->
            CarId:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].carId"></div>
            Brand :<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].brand"></div>
            Model:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].model"></div>
            Series:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].series"></div>
            Type:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].type"></div>
            Year:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].year"></div>
            Price:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].price"></div>
            Engine:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].engine"></div>
            HorsePower:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].horsepower"></div>
            CurbWeight:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].curbweight"></div>
            MPG:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="r8[0].mpg"></div>
        </div>
      </div>
      <div class="col-sm-4">      
        <div class="col-sm-4">
          <div *ngIf="isCamaroChecked">
            <!-- {{camaro | json}} -->
            CarId:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].carId"></div>
            Brand :<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].brand"></div>
            Model:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].model"></div>
            Series:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].series"></div>
            Type:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].type"></div>
            Year:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].year"></div>
            Price:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].price"></div>
            Engine:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].engine"></div>
            HorsePower:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].horsepower"></div>
            CurbWeight:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].curbweight"></div>
            MPG:<div style="background-color:rgb(122, 32, 107)" [innerHTML]="camaro[0].mpg"></div>
          </div>
          <br><br>
          <div *ngIf="isCorvetteChecked">
            <!-- {{corvette | json}} -->
            CarId:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].carId"></div>
            Brand :<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].brand"></div>
            Model:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].model"></div>
            Series:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].series"></div>
            Type:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].type"></div>
            Year:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].year"></div>
            Price:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].price"></div>
            Engine:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].engine"></div>
            HorsePower:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].horsepower"></div>
            CurbWeight:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].curbweight"></div>
            MPG:<div style="background-color:rgb(231, 20, 20)" [innerHTML]="corvette[0].mpg"></div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>