<div class="container">
    <div class="row">
        *You must be admin to login, please <a [routerLink]="['/register']"> register</a> here.
      </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       
      <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
      

        <div class="row">
          <div class="col-sm-6">
            <label for="" class="form-inline">
              Username
              <input formControlName="username" type="text" class="form-control">
            </label>
          </div>
          <div class="col-sm-6">
            <label for="" class="form-inline">
              Password
              <input formControlName="password" type="text" class="form-control">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary" (click)="clearForm()">clear</button>
          </div>
          <div class="col-sm-3"></div>
        </div>

      </form>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>