
<div class="container">
  <div class="row">
      
    <div class="col-sm-4">
      <img src="assets/img.png" alt="">
    </div>
    
    <div class="col-sm-8">
        
        <!-- <h1>Descripiton</h1> -->
        <div class="row" style="color:violet">
          <div style="color:rgb(18, 228, 46)"> 
          Click to know me
        </div>
            <div>
                <a href="http://webcsd.sacredheart.edu/vinukondaa/Prathyusha_Project_final/index.html">Portfolio</a>
              </div>
          Hello ,<br>
          I am Prathyusha van <br>
           
          I got an idea of creating something unique which is useful :)<br>
          Whenever we want to buy any product ,we just go on searching 
          in different websites for better price or features etc.<br>
          <!-- what if we find a place to see all of them at one place either to compare their
          prices or its configurations.<br> -->

          <!-- so Called I named that Place as Juxta City  :) -->

          <!-- If you want to purchase any product then obviously we will check the 
          similar products of different brands which has the same price or same features.
          Its time consuming but still we need to do it. -->

          
          
          
  
          Juxta means Compare,<br>
          Juxta City Application is a place where you can compare mutliple brands 
          of same product or different products at one place.<br>
<!-- 
          Here you can find two Categories and their different brands.<br> -->

          <div style="color:rgb(18, 228, 46)"> 
              From Scratch  of this application you can check my GitHub 
            </div>
          
          <div>
              <a href="https://github.com/Prathu215?tab=repositories">Prathu215Github</a>
            </div>
            <div style="color:rgb(18, 228, 46)"> 
                You can leave your suggestions and questions  here in Sayat.me
              </div>
          
           
          <div>
              <a href="https://sayat.me/PrathyushaVan">Sayat.me/PrathyushaVan</a>
            </div>
      
        </div>

    </div>
 
  </div>
</div>