<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let i of electronics">{{i.brand}}</li>          
        </ul>
      </div>
    </div>
</div> -->


<div class="container">
  <div class="jumbotron">
    <h1>Electronics</h1>
  </div>
  <form [formGroup]="electronicsListForm">
    <div class="row" *ngIf="isElectronicsExists else error">
      <div class="col-sm-12">
        <!-- <div>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Option 1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value="">Option 3
              </label>
        </div> -->

        <div fxLayout="row">
          <div *ngFor="let i of filteredBrands">
            <!-- <input type="checkbox" class="form-check-input" id="" [value]="i" (click)="onSelect($event)">
                <label class="form-check-label checkbox-inline" for="">{{i}}</label>          -->
            <label class="checkbox-inline">
              <input type="checkbox" [value]="i" (click)="onSelect($event)">{{i}}
            </label>
            <!-- <label class="checkbox-inline" for="">
                  <input type="checkbox" id="" [value]="i" (click)="onSelect($event)">
                    {{i}}</label>   -->
          </div>
        </div>
        <br>
        <br>
        <div class="row border">
          <div class="col-sm-3">
            <div *ngIf="isDellChecked">
              <div *ngFor="let i of dell">
                <input type="checkbox" class="type" checkbox="" [value]="i.series" (click)="onSelect($event)"> {{i.series}}
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div *ngIf="isHpChecked">
              <div *ngFor="let i of hp">
                <input type="checkbox" class="type" checkbox="" [value]="i.series" (click)="onSelect($event)"> {{i.series}}
              </div>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
        </div>


      </div>
    </div>
    <ng-template>
      <div class="row" #error>
        <div class="col-sm-12">
          <h1>Sorry No electronics found!!</h1>
        </div>
      </div>
    </ng-template>

  </form>

  <div class="row border">
    <div class="col-sm-4">
      <div *ngIf="isInspironChecked">
        {{inspiron | json}}
      </div>
      <br><br>
      <div *ngIf="isVostroChecked">
        {{vostro | json}}
      </div>
    </div>
    <div class="col-sm-4">
     
      <div *ngIf="isPavilionChecked">
        {{pavilion | json}}
      </div>
      <br><br>
      <div *ngIf="isEnvyChecked">
        {{envy | json}}
      </div>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>


</div>