<div class="sidenav">

  <div class="container">
    <!-- <h1>Juxta</h1> -->
  </div>
  <hr>
  <a [routerLink]="['/home']"> Home </a>
  <a [routerLink]="['/about']">About Us</a>
  <!-- <a href="#services">Add product</a>   -->
  <a [routerLink]="['/categories']">Categories</a>
  <a [routerLink]="['/contact']">Contact Us</a>
  <a [routerLink]="['/login']">Login</a>
</div>


<div class="main">

  <div class="row">
    <div class="col-sm-6">
      <h4>Presented by: Prathyusha Vinukonda</h4>
    </div>
    <div class="col-sm-6">
      <address><a style="float:right" href="mailto:prathyusha.vinukonda@gmail.com">prathyusha.vinukonda@gmail.com</a></address>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div>
      <!------ Include the above in your HEAD tag ---------->

      <div class="container">
        <div class="row">
          <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%"> JUXTA </text>
            </symbol>

            <g class="g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </div>

      </div>


    </div>
  </div>
</div>
<router-outlet></router-outlet>
</div>



<!--Footer-->
<footer class="page-footer font-small unique-color-dark pt-0">
  <div style="background-color: #6351ce;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h3 class="mb-0 white-text">Get connected with us on social networks!</h3>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0" href="https://www.facebook.com/">
            <i class="fa fa-facebook white-text mr-lg-4"> </i>
          </a>
          <!--Twitter-->
          <a class="tw-ic m1-0" href="https://twitter.com/?lang=en" >
            <i class="fa fa-twitter white-text mr-lg-4"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic m1-0" href="https://plus.google.com/discover">
            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
          </a>
          <!--Linkedin--> 
          <a class="li-ic m1-0" href="https://www.linkedin.com/m/login/">
            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic m1-0" href="https://www.instagram.com/sem/campaign/?&campaign_id=151084468920580&gclid=EAIaIQobChMIzPGzw7Wh2gIVC7nACh2PnAdCEAAYASAAEgKn9PD_BwE">
            <i class="fa fa-instagram white-text mr-lg-4"> </i>
          </a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>JUXTA CITY</strong>
          <!-- <strong>Company name</strong> -->
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
        <P>A place to share our ideas to invent a new business </P>
        <!-- <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit.
        </p> -->
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Our Dealership Programs</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 140px;">
        <p>
          <a href="https://www.porsche.com/usa/">Porsche</a>
        </p>
        <p>
          <a href="http://www.chevrolet.com/">Cheverolet</a>
        </p>
        <p>
          <a href="http://www.dell.com/en-us">Dell</a>
          <!-- <a href="#!">Dell</a> -->
        </p>
        <p>
          <a href="https://www3.lenovo.com/us/en/landingpage/promotions/lenovo-deals?menu-id=Deals">Lenova</a>
        </p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Join With Juxta</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90px;">
        <p>
          <a href="#!">Create Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Share your ideas</a>
        </p>
        <p>
          <a href="#!">Need Help</a>
        </p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact</strong>
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 50px;">
        <p>
          <i class="fa fa-home mr-3"></i> Charlotte, NC 28269, US</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> prathyusha.vinukonda@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 203 390 0750</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="http://webcsd.sacredheart.edu/vinukondaa/Prathyusha_Project_final/index.html">
    <!-- <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> -->
      <strong> Juxta.com</strong>
    </a>
  </div>
  <!--/.Copyright -->

</footer>
<!--/.Footer-->