<h1>Let's walk through juxta-city.... :)</h1>
<hr>


<div class="container">
    

    <div>
        <img height="850px" width="1000px" style="margin-top:-10%" src="assets/home.png" alt="porsche">
      </div>
    <div style="color:springgreen" >
        <h1>Explore it</h1>
      <iframe src="https://www.youtube.com/embed/hP7PZtNHg70" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
    width="760" height="415"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>

  <div class="row" style="color:violet">
      Unique Place to Decide <br>
      What you want :)
      
    </div>
    
   
  </div> 

  
  



